<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles/all.css">
    <link rel="stylesheet" href="assets/styles/header.css">
    <link rel="stylesheet" href="assets/styles/main.css">
    <link rel="stylesheet" href="assets/styles/sidebar.css">
    <title>Bulka TV</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href=""> Bulka TV</a>
        </div>
        <div class="search-container">
            <form class="search-bar">
                <div class="search-wrapper">
                    <input class="search-input" type="text" placeholder="Search">
                    <button class="search-btn" type="submit"></button>
                </div>
                <button class="search-voice-btn" type="submit"></button>
            </form>
        </div>
        <div class="ptofile-container">
            <a class="user-notification" href=""></a>
            <div class="dropdown">
                <a class="user-profile" href=""></a>
                <div class="popup">
                    <a id="option-profile" href=""> Profile</a>
                    <a id="option-settings" href=""> Settings</a>
                    <hr>
                    <a id="option-loguot" href=""> Log Out</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="sidenav-wrapper">
            <div class="sidenav">
                <div class="streamers-container">
                    <div class="link-streamer">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                            <p class="streamer-name">Chu Chu</p>
                            <div class="online-info">
                                <div class="pulse"></div>
                                <p class="streamer-subscribers">5.3k</p>
                            </div>
                    </div>
                    <div class="link-streamer">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                            <p class="streamer-name">Chu Chu</p>
                            <div class="online-info">
                                <div class="pulse"></div>
                                <p class="streamer-subscribers">5.3k</p>
                            </div>
                    </div>
                    <div class="link-streamer">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                            <p class="streamer-name">Chu Chu</p>
                            <div class="online-info">
                                <div class="pulse"></div>
                                <p class="streamer-subscribers">5.3k</p>
                            </div>
                    </div>
                    <div class="link-streamer">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                            <p class="streamer-name">Chu Chu</p>
                            <div class="online-info">
                                <div class="pulse"></div>
                                <p class="streamer-subscribers">5.3k</p>
                            </div>
                    </div>
                    <div class="link-streamer">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                            <p class="streamer-name">Chu Chu</p>
                            <div class="online-info">
                                <div class="pulse"></div>
                                <p class="streamer-subscribers">5.3k</p>
                            </div>
                    </div>
                    <div class="link-streamer">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                            <p class="streamer-name">Chu Chu</p>
                            <div class="online-info">
                                <div class="pulse"></div>
                                <p class="streamer-subscribers">5.3k</p>
                            </div>
                    </div>
                    <div class="link-streamer">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                            <p class="streamer-name">Chu Chu</p>
                            <div class="online-info">
                                <div class="pulse"></div>
                                <p class="streamer-subscribers">5.3k</p>
                            </div>
                    </div>
                    <div class="link-streamer">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                            <p class="streamer-name">Chu Chu</p>
                            <div class="online-info">
                                <div class="pulse"></div>
                                <p class="streamer-subscribers">5.3k</p>
                            </div>
                    </div>
                    <div class="link-streamer">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                            <p class="streamer-name">Chu Chu</p>
                            <div class="online-info">
                                <div class="pulse"></div>
                                <p class="streamer-subscribers">5.3k</p>
                            </div>
                    </div>
                    <div class="link-streamer">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                            <p class="streamer-name">Chu Chu</p>
                            <div class="online-info">
                                <div class="pulse"></div>
                                <p class="streamer-subscribers">5.3k</p>
                            </div>
                    </div>
                    <div class="link-streamer">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                            <p class="streamer-name">Chu Chu</p>
                            <div class="online-info">
                                <div class="pulse"></div>
                                <p class="streamer-subscribers">5.3k</p>
                            </div>
                    </div>
                    <div class="link-streamer">
                        <img class="streamer-avatar" src="assets/images/cats.jfif" alt="">
                            <p class="streamer-name">Gha ra</p>
                            <div class="online-info">
                                <div class="pulse"></div>
                                <p class="streamer-subscribers">9.3k</p>
                            </div>
                    </div>
                    <div class="link-streamer">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                            <p class="streamer-name">Chu Chu</p>
                            <div class="online-info">
                                <div class="pulse"></div>
                                <p class="streamer-subscribers">5.3k</p>
                            </div>
                    </div>
                    <div class="link-streamer">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                            <p class="streamer-name">Chu Chu</p>
                            <div class="online-info">
                                <div class="pulse"></div>
                                <p class="streamer-subscribers">5.3k</p>
                            </div>
                    </div>
                    <div class="link-streamer">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                            <p class="streamer-name">Chu Chu</p>
                            <div class="online-info">
                                <div class="pulse"></div>
                                <p class="streamer-subscribers">5.3k</p>
                            </div>
                    </div>
                </div>
                <div class="info-wrapper">
                    <div class="info">
                        <div class="info-links">
                            <p class="blocktext">Join the Bulka's comunity!</p>
                            <div class="social-networks">
                                <a class="tg-link" href="https://t.me/yuriy_solodovnik" target="_blank">
                                    <i class="fab fa-telegram"></i>
                                </a>
                                <a class="inst-link" href="https://www.instagram.com" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a class="fb-link" href="https://www.fb.com/https://www.facebook.com" target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="container">
                <div id="all" class="tag">
                    All
                </div>
                <div class="tag">
                    Food
                </div>
                <div class="tag">
                   Music
                </div>
                <div class="tag">
                    Humans
                </div>
                <div class="tag">
                     Games
                </div>
                <div class="tag">
                    Computers
                </div>
                <div class="tag">
                    Comedies
                </div>
                <div class="tag">
                   Apartments
                </div>
                <div class="tag">
                    Politics
                </div>
                <div class="tag">
                     Travelling
                </div>
                <div class="tag">
                    Fashion
                 </div>
                 <div class="tag">
                     Cooking
                 </div>
                 
            </div>
            <div id="preview-wrapper">
                <div class="live-preview">
                    <div class="video-template">
                        <div class="fadein">
                        </div>
                        <img class="video-preview" src="assets/images/cats.jfif" alt="">
                        <div class="live-icon">
                            LIVE
                        </div>
                        <div class="video-info">
                            12.5k viewers
                        </div>
                    </div>
                    <div class="author-info">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                        <div class="description">
                            <p class="vedeo-name">Where Have All the Cats Gone?</p>
                            <p class="streamer-name">Chu Chu</p>
                        </div>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="record-preview">
                    <div class="video-template">
                        <div class="fadein">
                        </div>
                        <img class="video-preview" src="assets/images/sleapingCat.jfif" alt="">
                        <div class="video-info">
                            34:35
                        </div>
                    </div>
                    <div class="author-info">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                        <div class="description">
                            <p class="vedeo-name">La la la</p>
                            <p class="streamer-name">Chu Chu</p>
                        </div>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="live-preview">
                    <div class="video-template">
                        <div class="fadein">
                        </div>
                        <img class="video-preview" src="assets/images/cats.jfif" alt="">
                        <div class="live-icon">
                            LIVE
                        </div>
                        <div class="video-info">
                            12.5k viewers
                        </div>
                    </div>
                    <div class="author-info">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                        <div class="description">
                            <p class="vedeo-name">Where Have All the Cats Gone?</p>
                            <p class="streamer-name">Chu Chu</p>
                        </div>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="record-preview">
                    <div class="video-template">
                        <div class="fadein">
                        </div>
                        <img class="video-preview" src="assets/images/sleapingCat.jfif" alt="">
                        <div class="video-info">
                            34:35
                        </div>
                    </div>
                    <div class="author-info">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                        <div class="description">
                            <p class="vedeo-name">La la la</p>
                            <p class="streamer-name">Chu Chu</p>
                        </div>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="live-preview">
                    <div class="video-template">
                        <div class="fadein">
                        </div>
                        <img class="video-preview" src="assets/images/cats.jfif" alt="">
                        <div class="live-icon">
                            LIVE
                        </div>
                        <div class="video-info">
                            12.5k viewers
                        </div>
                    </div>
                    <div class="author-info">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                        <div class="description">
                            <p class="vedeo-name">Where Have All the Cats Gone?</p>
                            <p class="streamer-name">Chu Chu</p>
                        </div>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="record-preview">
                    <div class="video-template">
                        <div class="fadein">
                        </div>
                        <img class="video-preview" src="assets/images/sleapingCat.jfif" alt="">
                        <div class="video-info">
                            34:35
                        </div>
                    </div>
                    <div class="author-info">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                        <div class="description">
                            <p class="vedeo-name">La la la</p>
                            <p class="streamer-name">Chu Chu</p>
                        </div>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="live-preview">
                    <div class="video-template">
                        <div class="fadein">
                        </div>
                        <img class="video-preview" src="assets/images/cats.jfif" alt="">
                        <div class="live-icon">
                            LIVE
                        </div>
                        <div class="video-info">
                            12.5k viewers
                        </div>
                    </div>
                    <div class="author-info">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                        <div class="description">
                            <p class="vedeo-name">Where Have All the Cats Gone?</p>
                            <p class="streamer-name">Chu Chu</p>
                        </div>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="record-preview">
                    <div class="video-template">
                        <div class="fadein">
                        </div>
                        <img class="video-preview" src="assets/images/sleapingCat.jfif" alt="">
                        <div class="video-info">
                            34:35
                        </div>
                    </div>
                    <div class="author-info">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                        <div class="description">
                            <p class="vedeo-name">La la la</p>
                            <p class="streamer-name">Chu Chu</p>
                        </div>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="live-preview">
                    <div class="video-template">
                        <div class="fadein">
                        </div>
                        <img class="video-preview" src="assets/images/cats.jfif" alt="">
                        <div class="live-icon">
                            LIVE
                        </div>
                        <div class="video-info">
                            12.5k viewers
                        </div>
                    </div>
                    <div class="author-info">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                        <div class="description">
                            <p class="vedeo-name">Where Have All the Cats Gone?</p>
                            <p class="streamer-name">Chu Chu</p>
                        </div>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="record-preview">
                    <div class="video-template">
                        <div class="fadein">
                        </div>
                        <img class="video-preview" src="assets/images/sleapingCat.jfif" alt="">
                        <div class="video-info">
                            34:35
                        </div>
                    </div>
                    <div class="author-info">
                        <img class="streamer-avatar" src="assets/images/cat.jfif" alt="">
                        <div class="description">
                            <p class="vedeo-name">La la la</p>
                            <p class="streamer-name">Chu Chu</p>
                        </div>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <footer>
                    Inspired by Kittysaurus
                    <i class="fab fa-youtube"></i>
                </footer>
            </div>
            
        </div>
        
    </main>
</body>