* {
  box-sizing: border-box;
  }
  
hr {
  margin: 0;
}
  
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  width: 99%;
  height: 55px;
  margin-right: 0.5%;
  margin-left: 0.5%;
  background-color: white;
  box-shadow: 0 6px 6px -4px rgba(0, 0, 0, .2);
  top: 0;
  left: 0;
  padding-right: 10px;
  padding-bottom: 10px;
}
  
.logo a::before,  .logo a {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 35px;
  content: "\f6be";
  color: rgb(250, 174, 33);
}
  
.logo a {
  text-decoration: none;
  padding: 5px;
  font-family:Comic Sans MS, Comic Sans, cursive;
}
  
.search-container {
  position: relative;
  width: 40%;
  display: flex;
}
  
.search-input {
  position: absolute;
  outline:none;
  font-family: "Gilroy-Light";
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border: 1px rgb(172, 172, 172) solid;
  height: 30px;
  width: 90%;
}
  
input:focus {
  border: 1px rgb(0, 66, 128) solid;
}
  
.search-btn {
  right: 7%;
  border-radius: 0 5px 5px 0;
  width: 30px;
  background: rgb(201, 201, 201);
  border: 1px rgb(172, 172, 172) solid;
}
  
.search-voice-btn {
  color: rgba(0, 0, 0, 0.5);
  right: 0.1%;
  width: 20px;
  border: none;
  background: none;
}
  
.search-btn, .search-voice-btn {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  height: 30px;
  font-size: 16px;
}
  
.search-btn::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
}
  
.search-voice-btn::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f130";
}
  
.search-btn:hover {
  color: rgba(0, 0, 0, 0.83);
  background: rgb(221, 221, 221);
}
  
.search-voice-btn:hover, .user-notification:hover {
  color: rgba(0, 0, 0, 0.83);
}
  
.ptofile-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
  height: 30px;
}
  
.ptofile-container a {
  text-decoration: none;
}
  
.user-notification, .user-profile {
  color: rgba(0, 0, 0, 0.5);
  padding: 9px;
  font-size: 26px;
}
  
.user-notification::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f0f3";
}
  
.user-profile {
  background-color: rgb(255, 167, 59);
  color: black;
  border-radius: 50%;
}
  
.user-profile::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  content: "\f1b0";
}
  
.popup {
  display: none;
  width: 50px;
}
  
.dropdown {
  position: relative;
  display: block;
}
  
.popup {
  border: 1px rgb(172, 172, 172) solid;
  border-radius: 10px;
  text-align: left;
  display: none;
  position: absolute;
  right: 30px;
  width: 120px;
  background-color: white;
  z-index: 1;
}
  
.popup a {
  color: black;
  font-weight: 500;
  padding: 10px;
  display: block;
}
  
.popup a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
}
  
#option-loguot {
  color: red;
}
  
#option-profile::before {
  content: "\f1b0";
}
  
#option-settings::before {
  content: "\f013";
}
  
#option-loguot::before {
  content: "\f2f5";
}
  
.popup a:hover {
  background-color: rgb(201, 201, 201);
}
  
#option-profile:hover{
  border-radius: 10px 10px 0 0;
}
  
#option-loguot:hover{
  border-radius: 0 0 10px 10px;
}
  
.dropdown:hover .popup {
  display: block;
}
  
.dropdown:hover .user-profile {
  background-color: rgb(201, 201, 201);
}