* {
  box-sizing: border-box;
  }

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.main {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 800px;
  padding-top: 47px;
}
  
  .container {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
}
  
  div[class^="tag"] {
  font-size: 1em;
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
  overflow-x: auto;
  display: flex;
  width: auto;
  border: 1px rgb(145, 145, 145) solid;
  background-color: rgb(196, 196, 196);
}
  
#all {
  background-color: orange;
}
  
.tag:hover {
  background-color: rgb(163, 163, 163);
  cursor: pointer;
}
  
#preview-wrapper {
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 450px);
  grid-gap: 20px;
  justify-content: center;
}
  
div[class^="preview"]{
  width: 350px;
  height: 200px;
  border-radius: 4px;
}
  
  
.video-template {
  width: 350px;
  height: 150px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}
  
.video-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
  
.live-icon {
  position: absolute;
  width: 39px;
  height: 19px;
  background-color: red;
  color: white;
  border-radius: 4px;
  margin: 3px;
  top: 0;
  padding: 2px;
}
  
.video-info {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 19px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.59);
  border-radius: 4px;
  color: white;
  padding: 2px;
}
  
.author-info {
  display: flex;
  flex-direction: row;
  height: 50px;
  cursor: pointer;
}
  
.description {
  padding: 3px;
}
  
.vedeo-name {
  margin: 0;
  text-overflow: ellipsis;
}
.streamer-name {
  font-size: smaller;
  text-overflow: ellipsis;
  margin: 0;
}
  
.author-info {
  position: relative;
  display: flex;
  flex-direction: row;
}
  
.author-info i {
  position: absolute;
  right: 100px;
  bottom: 30px;
}
  
.fadein {
  align-items: center;
  justify-content: center;
  align-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: inline-flex;
}
  
.fadein:hover {
  background-color: rgba(0, 0, 0, 0.385);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 35px;
}
  
footer {
  padding-top: 10px;
  text-align: center;
}
