* {
  box-sizing: border-box;
}

.sidenav-wrapper {
  height: 100%;
  width: 225px;
}
.sidenav {
  height: 100%;
  width: 225px; 
  margin-left: 0.5%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 55px;
  top: 0; 
  left: 0;
}
  
.sidenav a {
  text-decoration: none;
  color: black;
  margin: 2px;
}
  
.streamers-container a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  background: rgb(221, 221, 221);
  display: block;
}
  
.streamers-container, .info {
  position: relative;
  background: rgb(221, 221, 221);
  width: 100%;
}
  
::-webkit-scrollbar {
  width: 8px;
}
  
::-webkit-scrollbar-track {
  background: rgb(221, 221, 221);
}
  
::-webkit-scrollbar-thumb { 
  border-radius: 3px;
  background: rgb(126, 126, 126);
}
  
.streamers-container {
  overflow: hidden;
  height: 450px;
}
  
.streamers-container:hover {
  overflow-y: auto;
}
  
.info-wrapper {
  background: black;
  margin-top: 1px;
  margin-bottom: 10px;
  height: 150px;
}
  
.info {
  border-radius: 0 0 0 10px;
  width: 100%;
  height: 100%;
  padding: 10px;
}
  
.info-links {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(196, 196, 196);
}
  
p.blocktext {
  font-family:Comic Sans MS, Comic Sans, cursive;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 80%
}
  p::selection {
  background: orange; 
}
  
.social-networks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-networks i {
  font-size: 1.5em;
  padding: 5px;
}
  
.social-networks i:hover {
  color:turquoise;
}
  
.link-streamer {
  width: 100%;
  height: 40px;
  padding: 10px;
  background: rgb(221, 221, 221);
  display: flex;
  justify-content: space-between;
  align-items:center;
  cursor: pointer;
}
  
.link-streamer:hover {
  background: rgb(172, 172, 172);
}
  
.streamer-avatar {
   width: 25px;
   height: 25px;
   margin: 3px;
   border-radius: 50%;
}
  
.streamer-name {
  text-overflow: ellipsis;
}
  
.online-info {
  display: flex;
  align-items: center;
  padding: 10px;
}
  
.pulse {
  right: 45px;
  margin:10px;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
  animation: pulse 2s infinite;
}
  
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
  50% {
    width: 6px;
    height: 6px;
    box-shadow: 0 0 0 5px rgba(204,169,44, 0);
  }
  70% {
    width: 7px;
    height: 7px;
    box-shadow: 0 0 0 5px rgba(204,169,44, 0);
  }
  100% {
    width: 8px;
    height: 8px;
    box-shadow: 0 0 0 0 rgba(248, 0, 0, 0.4);
  }
}
  
@media screen and (max-width: 1200px) {
  .sidenav-wrapper, .sidenav {
    width: 50px;
  }
  
  .streamers-container {
    height: 100%;
    width: 50px;
  }
  
  .link-streamer p, .info-wrapper{
    display: none;
  }
}
